* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Bookish;
}
body {
  background-color: #dbf0ff;
}
.main-title {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
}
.main-title h4 {
  border-radius: 30px;
  width: 600px;
}
.container {
  margin-top: 40px;
}
.sub-title {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

.info-container {
  width: 500px;
  margin: 0 auto;
  margin-top: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  animation: slide-in 0.5s forwards;
  position: relative;
  border-radius: 0.5rem;
}

.info-container h5 {
  background-color: #ffffff;
  border-radius: 30px;
  width: 400px;
  margin-top: 20px;
}

.info-item {
  margin: 10px;
  padding: 5px;
  background-color: #ffffff;
}
.info-item p {
  margin-left: 50px;
}

.more-link {
  text-align: center;
}
